section#calculator {
    max-width: 320px;
    box-sizing: content-box;
    padding:10px;
}

button {
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: inset 0 0 0 2px #fff;
    background: #6f6f6f;
    color: #fff;
    font-size: 20px;
}

#calculator section {
    display: flex;
    flex-wrap: wrap;
}

section.ops {
    width: 80px;
}
button.op {
    background: #feb030;
    font-size: 18px;
}

section.numGrid {
    width: 240px;
}

.display {
    background: #444;
    color: #fff;
    font-size: 36px;
    padding: 15px;
    text-align: right;
    box-shadow: inset 0 0 0 2px #fff;
}

button#clear,
button#eval {
    background: #555;
}

button:hover {
    font-weight: 700;
    border: 1px solid #3af;
}
